
.bg-img{
    background-image: url('../images/julia-solonina-Csja8O0sbOw-unsplash\ 1.svg');
    padding: 10px 10px 100px 10px;

}


.logo-img{
    /* padding: 30px 30px !important; */
}


.nav-ul{
    list-style: none;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
}

.nav-ul :hover{
    text-decoration: underline #FA8B02 ;
}


.dropdown-style{
    text-decoration: none;
    color: #FFFFFF;
}


.eng{
    font-size: 16px;
    font-weight: 600;
}


.login-btn{
    background-color: transparent;
    color: #ffff;
    border: none;
    font-size: 16px;
    font-weight: 600;
}


.sign-up-btn{
    background-color: #FA8B02;
    padding: 8px 30px 8px 30px;
    border: none;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    margin-top: 8px;
    text-align: center;
    /* padding-top: 10px; */
}

.dropdown-style-set{
    /* margin-top: 10px; */
    padding-top: 13px;
}



.section-heading{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Podcast';
    color: #FFFFFF;
}


.Enjoy-para{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;

}


.section-bg{
    background: #FFFFFF33;
    padding: 20px 10px;
    border-radius: 10px;
}


.box-bg{
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-top-left-radius: 10px;
}

.Public-span{
    color: #FA8B02;
    font-size: 18px;
    font-weight: 700;
}



.Private-span{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}


.box-bg-1{
    background: #FFFFFF33;
    padding: 10px 15px;
    border-top-right-radius: 10px;
}


.large-box-color{
    background-color: #FFFFFF;
    padding: 10px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.number-span{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}


.dropdown-style-1{
    text-decoration: none;
    color: #c6c6c6;
    font-weight: 500;
    font-size: 16px;
}


.drop-set{
    padding-left: 28px;
}


.bg-button-img{
    background-color: #FA8B02;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px;
    border: none;
}


.border-line{
    border-left: 1px solid #c6c6c6;
}

.explore-heading{
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}











.nav-buttons {
  display: flex;
  gap: 10px;
}


.prev-btn {
  background: #f0f0f0;
  color: #333;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.next-btn {
  background: orange;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.card-heading{
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}


.from-span{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}


.euro{
    color: #FA8B02;
    font-size: 22px;
    font-weight: 800;
}




.every-day{
    color: #FA8B02;
    font-weight: 500;
    font-size: 14px;
}


.tour-para{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}


.site-para{
    font-size: 16px;
    font-weight: 500;
    color: #a3a3a3;
}


.visit-heading{
    font-size: 28px;
    font-weight: 800;
    color: #333333;
}



.after-para{
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}




.years-para{
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 600;
}



.section-bg-img{
    background-image: url('../images/Rectangle\ 51.svg');
    padding: 90px;
}

.small-section{
    background: #FFFFFF4D;
    /* padding: 10px 5px; */
    padding: 30px;
    border-radius: 10px;
}


.get-special{
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.lorem-para{
    font-size: 16px;
    font-weight: 400;
}


.contact-us{
    background-color: #FA8B02;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
}

.set-img{
    position: relative;
}

.lady-pic{
    position: absolute;
    bottom: -90px;
    right: 10px;
}